extend componentes/plantilla.pug
block contenidos
		section.intro 
			.intro__imagen: img(src="images/imagen.png") 
			.intro__contenido  
				h2 #{titulos[0]}
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					| Vel, doloremque.
					span Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				a.boton Leer más
		main.contenido
			+caja('imagen.png',titulos[1],'Lorem ipsum')
			+caja('imagen.png',titulos[2],'Lorem ipsum') 
			+caja('imagen.png',titulos[3],'Lorem ipsum')
			